.input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wrapper {
    border: 1px solid var(--dark-space-color);
    border-radius: 5px;
    padding: 8px 10px;
    width: 100%;
}

.disabled {
    color: var(--disabled-color);
    border-color: var(--disabled-color);
}
